@charset "utf-8";
/* Styling module */
#container {
    bottom: 10px;
    position: fixed;
    right: 10px;
    width: 350px;
}

	#container ul {
		padding:0;
	}
	
	#container li {
		border: 1px solid grey;
		list-style: none outside none;
		padding: 10px;
		margin-bottom:5px;
		background-color:#FFECCE;
 		box-shadow: 0 0 0 1px #FFFFFF inset;

	}
		
		#container li:hover {
		 	opacity:0.6;
		 	text-shadow: 0 0 2px #333;
		 	color:transparent;
		 }
	
	#container h6 {
		margin-top:0;
		font-size: medium;
		border-bottom:solid 1px;
		padding-bottom: 0.8em;
		margin-bottom:0;
	}
	
		#container h6 .my-notifications-close {
			float:right;
			text-decoration:none;
			text-transform: small-caps;
		}
	
	#container p {
		font-size: small;
	}
	
	#container .my-notifications-error {
		background-color:#FFECCE;
		border: 1px solid #E9C59B
	}
	
			#container .my-notifications-error, #container .my-notifications-error h6 .my-notifications-close {
				color: #E3302C;
			}
	
	#container .my-notifications-okay {
	    border: 1px solid #BFDE84;
		background-color:#EDFBD8;
	}
	
			#container .my-notifications-okay,  #container .my-notifications-okay h6 .my-notifications-close {
				color: #508600;
			}
		
	
	#container .my-notifications-info {
		border-color:#BBDBE0;
		background-color:#ECF9FF;
	}
	
		#container .my-notifications-info, #container .my-notifications-info .my-notifications-close {
			color: #0888C3;
		}
	
	#container .my-notifications-warning {
		border: 1px solid #E5E181;
		background-color:#FEFDE2;
	}
	
		#container .my-notifications-warning, 	#container .my-notifications-warning .my-notifications-close {
			color: #666666;
		}
	
