@charset "utf-8";
/* [Master Stylesheet] */

/*--------------------------------------
[Table of contents]
1. Wrapper
2. List
3. notification
4. notification header
5. Notification close button

--------------------------------------*/

/*--------------------------------------
1. Wrapper
--------------------------------------*/
#notifications {
    bottom: 10px;
    position: fixed;
    right: 10px;
    width: 350px;
}

/*--------------------------------------
2. List
--------------------------------------*/
#list {
    padding:0;
}

/*--------------------------------------
3. Notification
--------------------------------------*/

#list .notification {
    border: 1px solid lightgrey;
    list-style: none outside none;
    padding: 10px;
    margin-bottom:5px;
    background-color:white;
    box-shadow: 0 0 0 1px #FFFFFF inset;
}

    /*--------------------------------------
    4. Notification header
    --------------------------------------*/
    #list .notification h6 {
        margin-top:0;
        font-size: medium;
        border-bottom:solid 1px;
        padding-bottom: 0.8em;
        margin-bottom:0;
    }
    
        /*--------------------------------------
        5. Notification close button
        --------------------------------------*/
        #list .notification h6 .close {
            float:right;
            text-decoration:none;
        }
    
    /*--------------------------------------
    6. Notification body
    --------------------------------------*/
    #list .notification p {
        font-size: small;
    }

    /*--------------------------------------
    7. Notification error
    --------------------------------------*/
    #list .error {
        background-color:#FFECCE;
        border: 1px solid #E9C59B
    }

    #list .error, #list .error h6 .close {
        color: #E3302C;
    }

    /*--------------------------------------
    8. Notification success
    --------------------------------------*/
    #list .success {
        border: 1px solid #BFDE84;
        background-color:#EDFBD8;
    }

    #list .success,  #list .success h6 .close {
        color: #508600;
    }

    /*--------------------------------------
    8. Notification info
    --------------------------------------*/  
    #list .info {
        border-color:#BBDBE0;
        background-color:#ECF9FF;
    }

    #list .info, #list .info .close {
        color: #0888C3;
    }

    /*--------------------------------------
    9. Notification warning
    --------------------------------------*/
    #list .warning {
        border: 1px solid #E5E181;
        background-color:#FEFDE2;
    }

    #list .warning, #list .warning .close {
        color: #666666;
    }

